@import "../../app.scss";
// Styling the Navbar
.navbar{
    height: 100px;
   
   
    .wrapper{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        height: 100%;

        @include mobile{
            justify-content: flex-end;
            padding: 55px;
        }

        span{
            font-weight: 600;

            @include mobile{
                display: none;
            }
        }
        
        .contact{
            position: relative;
            gap: 20px;
    
            
            img{
                z-index: 10000;
                position: relative;
                top: -350px;
                width: 18px;
                height: 18px;
               
            }
        }
    }
}